<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>CreerProjet</servlet-name>
        <servlet-class>servlet.AjouterProjet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreerProjet</servlet-name>
        <url-pattern>/add_Projet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AfficherProjet</servlet-name>
        <servlet-class>servlet.AfficherProjet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherProjet</servlet-name>
        <url-pattern>/AfficherProjet</url-pattern>
    </servlet-mapping>

</web-app>